<div class="modal-header">
  <h4 class="modal-title" ngbAutofocus id="modal-basic-title">Help</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body">

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How to organize the Picture?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h2>Important</h2>
          <hr>
          <ul>
            <li>Take one picture per player</li>
            <li>The cards must be upright</li>
            <li>Take the picture from above</li>
          </ul>
          <h2>Wrong example</h2>
          <hr>
          <img class="captureExample" src="assets/images/CaptureWrong.jpg" alt="CaptureWrong">
          <ul>
            <li>Exclude other player cards</li>
            <li>Exclude cards from clearing</li>
            <li>Exclude the pile</li>
            <li>Separate stacked cards</li>
            <li>Color symbols must be visible</li>
            <li>Exclude cards in your cave</li>
          </ul>
          <h2>Correct example</h2>
          <hr>
          <img class="captureExample" src="assets/images/CaptureCorrect.jpg" alt="CaptureCorrect">
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Third party
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li>Many thanks to <a href="https://github.com/glaures/forestshuffle" target="_blank">glaures</a> for his great <a href="https://forestshuffle.app/" target="_blank">forestshuffle.app</a> whose score calculation, images and translations are used.</li>
            <li>The computer vision model is trained with <a href="https://github.com/ultralytics/ultralytics" target="_blank">ultralytics yolo model</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Support
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>If you have questions or want to support the project go to <a href="https://github.com/NINI1988/ForestDetector" target="_blank">https://github.com/NINI1988/ForestDetector</a></p>

          <p>You want to sponsor this project: <a href="https://www.paypal.me/nienhausc" target="_blank">https://www.paypal.me/nienhausc</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer" *ngIf="showCheckbox">
  <div class="form-check mr-auto">
    <input type="checkbox" class="form-check-input" id="dontShowAgain" [(ngModel)]="dontShowAgain">
    <label class="form-check-label" for="dontShowAgain">Don't show again</label>
  </div>
  <button type="button" class="btn btn-primary" ngbAutofocus (click)="activeModal.dismiss()">Close</button>
</div>
